# Kiran Khanna

In [5]:
pip install nltk

Requirement already satisfied: nltk in c:\users\khkir\anaconda3\lib\site-packages (3.6.1)
Requirement already satisfied: joblib in c:\users\khkir\anaconda3\lib\site-packages (from nltk) (1.0.1)
Requirement already satisfied: regex in c:\users\khkir\anaconda3\lib\site-packages (from nltk) (2021.4.4)
Requirement already satisfied: click in c:\users\khkir\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: tqdm in c:\users\khkir\anaconda3\lib\site-packages (from nltk) (4.59.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import nltk
import pandas as pd
import numpy as np

In [7]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\khkir\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [8]:
df = pd.read_csv('SPAM.csv')

In [9]:
df.head(10)

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [10]:
df['spam'] = df['type'].map({'spam':1,'ham':0}).astype(int)

In [11]:
df.head(5)

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [12]:
for col in df.columns:
    print(col)

type
text
spam

In [13]:
df['text'][5]

"FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, £1.50 to rcv"

In [14]:
def tokenizer(text):
    return text.split()

In [15]:
df['text'] = df['text'].apply(tokenizer)

In [16]:
df['text'][5]

['FreeMsg',
 'Hey',
 'there',
 'darling',
 "it's",
 'been',
 '3',
 "week's",
 'now',
 'and',
 'no',
 'word',
 'back!',
 "I'd",
 'like',
 'some',
 'fun',
 'you',
 'up',
 'for',
 'it',
 'still?',
 'Tb',
 'ok!',
 'XxX',
 'std',
 'chgs',
 'to',
 'send,',
 '£1.50',
 'to',
 'rcv']

In [17]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english",ignore_stopwords=False)

In [18]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [19]:
df['text'] = df['text'].apply(stem_it)

In [20]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [21]:
def lemmit_it(text):
    return [lemmatizer.lemmatize(word,pos='a') for word in text]

In [22]:
df['text'] = df['text'].apply(lemmit_it)

In [24]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\khkir\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [25]:
from nltk.corpus import stopwords
stop_words = stopwords.words("english")

In [26]:
def stop_it(text):
    review = [word for word in text if not word  in stop_words]
    return review

In [27]:
df['text'] = df['text'].apply(stop_it)

In [28]:
df.head(5)

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0

In [31]:
df['text'] = df['text'].apply(''.join)

In [32]:
df.head(5)

   type                                               text  spam
0   ham  gojurongpoint,crazy..availonlibugingreatworldl...     0
1   ham                             oklar...jokewifuoni...     0
2  spam  freeentri2wklicompwinfacupfinaltkts21stmay2005...     1
3   ham                  udunsayearlihor...ucalreadisay...     0
4   ham                    nahthinkgoeusf,livearoundthough     0

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [34]:
tfidf = TfidfVectorizer()
y = df.spam.values
x=tfidf.fit_transform(df['text'])

In [38]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1,shuffle=False)

In [39]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(x_train,y_train)
y_pred = clf.predict(x_test)

In [40]:
from sklearn.metrics import accuracy_score
acc_log = round(accuracy_score(y_pred,y_test),2)*100
print("Accuracy :",acc_log)

Accuracy : 88.0