In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Diabities.csv')

In [3]:
df.head(5)

,Unnamed: 0,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,NaN,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,NaN,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,NaN,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0
3,NaN,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,NaN,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                0 non-null      float64
 1   Pregnancies               768 non-null    float64
 2   Glucose                   768 non-null    float64
 3   blood pressure            768 non-null    float64
 4   skin thickness            768 non-null    float64
 5   Insulin                   768 non-null    float64
 6   BMI                       768 non-null    float64
 7   DiabetesPedigreeFunction  768 non-null    float64
 8   Age                       768 non-null    float64
 9   Outcome                   768 non-null    float64
dtypes: float64(10)
memory usage: 60.2 KB

In [5]:
df.shape

(769, 10)

In [10]:
df = df.drop('Unnamed: 0',axis=1)

In [14]:
df = df.dropna()

In [15]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
blood pressure              0
skin thickness              0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [16]:
df.describe()

,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [17]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [21]:
classifier = RandomForestClassifier(n_estimators=6,criterion='entropy',random_state=0)
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
acc_random = round(accuracy_score(y_pred,y_test),2)*100
print("Accuracy :",acc_random)

Accuracy : 77.0

In [24]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(max_iter=1000)
logreg.fit(x_train,y_train)
y_pred = logreg.predict(x_test)
acc_logreg = round(accuracy_score(y_pred,y_test),2)*100
print("Accuracy :",acc_logreg)

Accuracy : 82.0

In [25]:
from sklearn.neighbors import KNeighborsClassifier

In [27]:
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(x_train,y_train)
y_pred = knn.predict(x_test)
acc_knn = round(accuracy_score(y_pred,y_test),2)*100
print("Accuracy :",acc_knn)

Accuracy : 71.0